<!doctype html>
<html>
  <head>
    <title>Course Complete</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <link rel="stylesheet" href="./style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper-div-203110114">
      <div class="course-complete-203110114">
        <!-- Background1 -->
        <section class="background-203110115">
          <div class="container-203110116 pos-abs">
            <div class="container-203110117">
              <div class="list-203110118">
                <div class="item-203110119">
                  <div class="link--dashboard-203110120">
                    <!-- prettier-ignore --><span class="link--dashboard-203110120-0">Dashboard</span>
                  </div>
                </div>

                <div class="item-203110121">
                  <div class="container-203110122">
                    <div class="container-203110123">
                      <div class="container-203110124">
                        <div class="component-1-203110125">
                          <div class="vector-I203110125_2001683 pos-abs">
                            <div
                              class="nodeBg-I203110125_2001683 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item-203110126">
                  <div class="my-course-203110127">
                    <!-- prettier-ignore --><span class="my-course-203110127-0">My Course</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-203110128">
              <div class="background-203110129 pos-abs">
                <div class="container-203110130 pos-abs">
                  <div class="background-203110333 pos-abs">
                    <div class="container-203110334">
                      <div class="starshapepng-203210364 pos-abs">
                        <img
                          src="https://s3-alpha-sig.figma.com/img/1295/a975/dff0bbe82f1e073ee98f07175efae681?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O9UZkX13G21m6v3ChcrVNOKxM2grkNm-20AztpoByxBaHiqjJpiDJYG8Apoms3BLJ9eCZ3BdNEwp8gRFZbHKhxhT9p1ShLZc~SafMxehJEtow5xlObtcSKyK1vZgpH9fKAFvTZ16HyLxGWUaZoD9AWKzIKJH8j~8bSIBL-Y3fAmhfz-v9hnFjjh1YbSxNV0ERHYfWR01OYWxmob-bqUk0erO9iivinB9odrnc0l02XU8izfNntePu0jDk8l1FKoDf-jCfCZ9RbpWYbP5JLLpCKErlsHwnOjCQB0xqrXTZ34EmkH-suLEhIjnLr7Wj~E8stXm7G-cNblI7LosqHhaeg__"
                          class="pos-abs image-div bg-no-repeat bg-crop nodeBg-203210364"
                          alt="203210364-ALT"
                        />
                      </div>

                      <div class="frame-2299-203210367 pos-abs">
                        <div class="heading-5-203110335">
                          <div class="link-203110336">
                            <div class="bosowa-corporat-203110337">
                              <!-- prettier-ignore --><span class="bosowa-corporat-203110337-0">BOSOWA Corporate Values - “What We Believe to Behave”</span>
                            </div>
                          </div>
                        </div>

                        <div class="background-203110338">
                          <div class="general-managem-203110339">
                            <!-- prettier-ignore --><span class="general-managem-203110339-0">General Management</span>
                          </div>
                        </div>

                        <div class="discover-course-203110349">
                          <!-- prettier-ignore --><span class="discover-course-203110349-0">Discover courses, track progress, and achieve your learning goods<br>seamlessly.</span>
                        </div>

                        <div class="container-203110340">
                          <div class="hris20carolinej-203110341">
                            <img
                              src="https://s3-alpha-sig.figma.com/img/f2bb/8b6d/f4d86c268c7b05393a32cf0e310479aa?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LCJi8QlI~qLeDY7CBQmWkkPfKqgQj95w0YQD6~Yf53iqq-r1xHm14mvunJFJM39o2N1aoUvUgNpJE3ocX-jJiZFnZvQSUO3J~wIofNKktFfhIK9ngBYrkqQgMLSal8cS6M9mcWJPJWN-Q1NT7J5lVDwlHR6nPstpqx7vceiqtmyuf3IG0dr35RlclIuGgUrTgZwV680~q3eNPWCh8lSaJENkqLmSlQtJ3Dpq6cDDutURlLK-rTsGm5Rz4Uwv3b7DiN1Gaz4herd8FHWlyhQCg~ZEesDk1DMgaaAh4F2Bvn6Mn1qmH7YxQJrkz2QQZb2qRJXmM2d70ZiIh3~ERbCJ8g__"
                              class="pos-abs image-div bg-no-repeat bg-crop nodeBg-203110341"
                              alt="203110341-ALT"
                            />
                          </div>

                          <div class="container-203110342">
                            <div class="created-by-caro-203110343">
                              <!-- prettier-ignore --><span class="created-by-caro-203110343-0">Created by </span
                              ><!-- prettier-ignore --><span class="created-by-caro-203110343-1">Caroline</span>
                            </div>
                          </div>
                        </div>

                        <div class="link-203110344">
                          <div class="container-203110345">
                            <div class="download-certif-203110346">
                              <!-- prettier-ignore --><span class="download-certif-203110346-0">Download Certificate</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="link-203110350 pos-abs">
                        <div class="tumbnail20bosow-203110351">
                          <img
                            src="https://s3-alpha-sig.figma.com/img/d726/b5c8/59de60ad8635093455cf6016a8b00aaf?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KwkZng7-fyPXOvbXIOBYF~LBt5W0ngd0WGQLM0bV8GVAH7nnWF4Y4BZmXApiR0REin6eZcbMXLfPNAWkSwEj4faMlCMaq5v8M1EiF8d9ztI6v9wY8d~8ejMeTVxXD9MmcaR0-tBcFJKU4a6N70f9UvVKEyfGsr0iSktZIla75QgymbNha-pEy5hge6PCoARqCgNnh~gdotG2QLd6e62sJ43nN3bJ~IBrbMXDHUmNnQ8heTjtQtwoLR2t8clDWdt4rDVIar5GHTzNm2ik4c5~3AF3pefLALkrgOVv0ArGna9Vqu6Jx1Y9i0i0N-puc7QueewoujxTfeJzKghN-g6j2w__"
                            class="pos-abs image-div bg-no-repeat bg-crop nodeBg-203110351"
                            alt="203110351-ALT"
                          />
                        </div>
                      </div>

                      <div class="frame-2298-203210366 pos-abs">
                        <div class="group-19-203110353">
                          <div class="course-complete-203110354 pos-abs">
                            <!-- prettier-ignore --><span class="course-complete-203110354-0">Course Complete </span>
                          </div>

                          <div class="vector-203110355 pos-abs">
                            <div
                              class="nodeBg-203110355 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-203110188 pos-abs"></div>
              </div>
            </div>
          </div>

          <div class="margin-203110213 pos-abs">
            <div class="background-203110214">
              <div class="container-203110215">
                <div class="container-203110216">
                  <div class="copyright-hris--203110217">
                    <!-- prettier-ignore --><span class="copyright-hris--203110217-0">© Copyright HRIS 2024</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="backgroundhoriz-203110218 pos-abs">
            <div class="form-203110219">
              <div class="container-203110220">
                <div class="input-203110221">
                  <div class="container-203110222">
                    <div class="search-203110223">
                      <!-- prettier-ignore --><span class="search-203110223-0">Search...</span>
                    </div>
                  </div>
                </div>

                <div class="button-203110224 pos-abs">
                  <div class="container-203110225">
                    <div class="container-203110226">
                      <div class="component-1-203110227">
                        <div class="vector-I203110227_2001686 pos-abs">
                          <div
                            class="nodeBg-I203110227_2001686 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-203110228">
              <div class="container-203110229">
                <div class="button-203110230">
                  <div class="container-203110231">
                    <div class="container-203110232">
                      <div class="component-1-203110233">
                        <div class="vector-I203110233_2001689 pos-abs">
                          <div
                            class="nodeBg-I203110233_2001689 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                          ></div>
                        </div>
                      </div>
                    </div>

                    <div class="background-203110234 pos-abs">
                      <div class="background-203110235 pos-abs"></div>

                      <div class="background-203110236 pos-abs"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-203110237">
                <div class="button-203110238">
                  <div class="container-203110239 pos-abs">
                    <div class="component-1-203110240">
                      <div class="vector-I203110240_2001692 pos-abs">
                        <div
                          class="nodeBg-I203110240_2001692 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                        ></div>
                      </div>
                    </div>
                  </div>

                  <div class="container-203110241">
                    <div class="c-2023079799jpg-203110242">
                      <img
                        src="https://s3-alpha-sig.figma.com/img/8e62/5441/9005484b70265088f280cec9e3668759?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U-ksmprC4rW8LT-Hqcpx9~C~H2Zf2XRuHIDLODAlWA9UPIaHBbQV0mgB3F5yBR0PPt-zcd4M76sJ~AwIXTLrV4ivfJ5ZsM7HuRzyghAHGhUJJQswhMPmUkqe8WVSER6xflvguZFIY6wAgtKD1yZmGFMZALMTRcN1Ot3dEulY2RkVgfi05NCtcTXt~aMA3chX5l491hqXlZ0P-sVgu2fsW7R62VTrJpawc9zxiqEPOrgu-F2-mSlu6AsvYWZqWSX58YG2-AQR3TjVgYa1i9c11TBIgvotrRJjJ4U1k3-mZSBQRWMI51WaSc-ai98iurb0ebA96Rf5sQ-0IVdJG3XJSg__"
                        class="pos-abs image-div bg-no-repeat bg-crop nodeBg-203110242"
                        alt="203110242-ALT"
                      />
                    </div>

                    <div class="backgroundborde-203110243 pos-abs"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Aside1 -->
        <section class="aside-203110244 pos-abs">
          <div class="link-203110245">
            <div class="blearninglogowe-203110246">
              <img
                src="https://s3-alpha-sig.figma.com/img/44c9/0e16/fd45ad22f0c597d38a1e4fdcf3a8ec78?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=StTVAJyNn5x9indSQ9uWrYLGe6Z7jCAYifsgPNsGMzKPFBsanSbTAhcSFkbFO4Ttm0zHKjNeSSKWpuq6m~s4RFjxs6Gq7D5IPS4MZ0NRORU7Q~mqAs-N644PDlx2rXayLPhGYlzFieHSWvZm8sQMieTVL7kYP5bKqKzAsHZeBj0zAh9QCWAFhfDS4EgGawPX1GvWfbBoaLTUwRgzCELGXqtj5ygQLyhbhUX~qSxJHVDosW5QppKq~e1NbSHiUpZmOc8SyLRtqrpWgCvCdR-MEACa4RPwsRDELu825HDiwgrcvW2fIX4ewJ~S0xxbch01kQZ3gz1iTVyzrQ9szLraWw__"
                class="pos-abs image-div bg-no-repeat bg-crop nodeBg-203110246"
                alt="203110246-ALT"
              />
            </div>
          </div>

          <div class="container-203110247">
            <div class="list-203110248">
              <div class="item--link-203110249">
                <div class="container-203110250">
                  <div class="container-203110251">
                    <div class="container-203110252">
                      <div class="component-1-203110253">
                        <div class="vector-I203110253_2001671 pos-abs">
                          <div
                            class="nodeBg-I203110253_2001671 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-203110254">
                  <div class="dashboard-203110255">
                    <!-- prettier-ignore --><span class="dashboard-203110255-0">Dashboard</span>
                  </div>
                </div>
              </div>

              <div class="item-203110256">
                <div class="link-203110257">
                  <div class="container-203110258">
                    <div class="container-203110259">
                      <div class="container-203110260">
                        <div class="component-1-203110261">
                          <div class="vector-I203110261_2001674 pos-abs">
                            <div
                              class="nodeBg-I203110261_2001674 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container-203110262">
                    <div class="courses-203110263">
                      <!-- prettier-ignore --><span class="courses-203110263-0">Courses</span>
                    </div>
                  </div>

                  <div class="container-203110264 pos-abs">
                    <div class="component-1-203110265">
                      <div class="vector-I203110265_2001677 pos-abs">
                        <div
                          class="nodeBg-I203110265_2001677 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="list--item--lin-203110266">
                  <div class="horizontal-divi-203110267 pos-abs"></div>

                  <div class="my-courses-203110268">
                    <!-- prettier-ignore --><span class="my-courses-203110268-0">My Courses</span>
                  </div>
                </div>
              </div>

              <div class="item--link-203110269">
                <div class="container-203110270">
                  <div class="container-203110271">
                    <div class="container-203110272">
                      <div class="component-1-203110273">
                        <div class="vector-I203110273_2001680 pos-abs">
                          <div
                            class="nodeBg-I203110273_2001680 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-203110274">
                  <div class="my-profile-203110275">
                    <!-- prettier-ignore --><span class="my-profile-203110275-0">My Profile</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
